name: Semantic Release for Apps

on:
  push:
    branches:
      - master
    paths:
      - 'applications/**'

permissions: write-all

jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        id: checkout
        with:
          fetch-depth: 0

      - name: Get changed directories
        id: changed_dirs
        run: |
          if git diff --name-only --diff-filter=d "${{ github.sha }}" | grep -q '\.js$'; then
            echo "::set-output name=dirs::$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | xargs -I{} dirname {} | sort -u)"
          fi
        
        

      - name: Echo changed paths
        run: |
          echo "Changed paths:"
          while IFS= read -r file; do
            echo "$(git rev-parse --show-toplevel)/$file"
          done <<< "${{ steps.changed_files.outputs.files }}"

      # # Update the tag format to include the name of the directory
      # - name: Update tag format
      #   id: update_tag_format
      #   run: |
      #     APP_NAME=$(echo "${{ steps.changed_dirs.outputs.dirs }}" | awk '{print tolower($0)}')
      #     echo "::set-output name=tag_format::${APP_NAME}-v\${version}"
      
      # # - name: Add new version to changelog
      # #   id: add_version_to_changelog
      # #   run: |
      # #     version=$(git describe --tags --abbrev=0)
      # #     sed -i "s/\[[0-9]\+\.[0-9]\+\.[0-9]\+\]/[${version}] $(date +'%Y-%m-%d')/" CHANGELOG.md        
      # #   continue-on-error: true 

      

      # # https://github.com/marketplace/actions/semantic-release-action#usage
      # - name: Semantic Release
      #   uses: docker://ghcr.io/codfish/semantic-release-action:v2
      #   id: semantic
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.PAT_GITHUB2 }}
      #   with:
      #     tag_format: '${{ steps.update_tag_format.outputs.tag_format }}'
      #     additional_packages: |
      #       ['@semantic-release/changelog', '@semantic-release/git']
      #     plugins: |
      #       ['@semantic-release/commit-analyzer', '@semantic-release/release-notes-generator', ['@semantic-release/changelog', {changelogTitle: '# CHANGELOG'}], '@semantic-release/github', '@semantic-release/git']
      #     # specify default branches to add support for the `main` branch
      #     # which semantic-release doesn't have as a default yet.
      #     branches: |
      #       [
      #         'master'
      #       ]
        
      # - name: Changelog file 
      #   uses: saadmk11/changelog-ci@v1.1.1
      #   id: changelog_md
      #   with:
      #     # Optional, you can provide any name for your changelog file,
      #     # We currently support Markdown (.md) and reStructuredText (.rst) files
      #     # defaults to `CHANGELOG.md` if not provided.
      #     changelog_filename: CHANGELOG.md
      #     # Optional, only required when you want more customization
      #     # e.g: group your changelog by labels with custom titles,
      #     # different version prefix, pull request title and version number regex etc.
      #     # config file can be in JSON or YAML format.
      #     config_file: changelog-ci-config.json
      #     # Optional, This will be used to configure git
      #     # defaults to `github-actions[bot]` if not provided.
      #     # committer_username: 'test'
      #     # committer_email: 'test@test.com'
      #     # Optional, only required when you want to run Changelog CI 
      #     # on an event other than `pull_request` event.
      #     # In this example `release_version` is fetched from `workflow_dispatch` events input.
      #     # You can use any other method to fetch the release version
      #     # such as environment variable or from output of another action
      #     release_version: ${{ steps.semantic.outputs.dirs }}
      #     # Optional
      #     github_token: ${{ secrets.PAT_GITHUB2 }}

      # # # Get the latest version tag
      # # - name: Get latest version tag
      # #   run: |
      # #     version=$(git describe --tags --abbrev=0)
      # #     echo "::set-output name=version::$version"

      # - name: Semantic Release Output Summary
      #   id: semantic_summary
      #   run: |
      #     echo "### Semantic Version = ${{ steps.semantic.outputs.release-version }}\`" >> $GITHUB_STEP_SUMMARY
      #     echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
      #     echo "${{ toJson(steps.semantic.outputs) }}" >> $GITHUB_STEP_SUMMARY
      #     echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
      #   continue-on-error: true